In [1]:
print("Hellow World")

Hellow World

DataTypes And Checked Variable is which Datatype

In [3]:
x = 5
y = "John"
print(x)
print(y)
print(type(x))
print(type(y))

5
John
<class 'int'>
<class 'str'>

type Of Typing A programming

In [4]:
myVariableName = "John"    #camel case 
MyVariableName = "John"    #pascal case
my_variable_name = "John"  #snake case

In [5]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [7]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [8]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [9]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [10]:
x = 5
y = 10
print(x + y)

15

In [11]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
x = 5
y = "John"
print(x, y)

5 John

*Create a variable outside of a function, and use it inside the function

In [13]:
x = "awesome"

def myfunc():
  print("Python is " + x)

In [14]:
myfunc()

Python is awesome

In [15]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [22]:
def myfunc():
  global x
  x = "fantastic"
  print(x)

myfunc()

print("Python is " + x)

fantastic
Python is fantastic

In [23]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "Hello World"             #str	
print(x,type(x))
x = 20	                      #int	
print(x,type(x))
x = 20.5	                  #float	
print(x,type(x))
x = 1j	                      #complex	
print(x,type(x))
x = ["apple", "banana", "cherry"]	#list	
print(x,type(x))
x = ("apple", "banana", "cherry")	#tuple
print(x,type(x))
x = range(6)	                    #range
print(x,type(x))
x = {"name" : "John", "age" : 36}	#dict	
print(x,type(x))
x = {"apple", "banana", "cherry"}	#set	
print(x,type(x))
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
print(x,type(x))
x = True	                  #bool	
print(x,type(x))
x = b"Hello"	              #bytes	
print(x,type(x))
x = bytearray(5)	          #bytearray
print(x,type(x))
x = memoryview(bytes(5))	  #memoryview	
print(x,type(x))
x = None                      #none
print(x,type(x))

Hello World <class 'str'>
20 <class 'int'>
20.5 <class 'float'>
1j <class 'complex'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 36} <class 'dict'>
{'apple', 'cherry', 'banana'} <class 'set'>
frozenset({'apple', 'cherry', 'banana'}) <class 'frozenset'>
True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x0000022B2A9E6E00> <class 'memoryview'>
None <class 'NoneType'>